# Project 1: Part 2 - Data Cleaning
## Shreya Kamath
## 7/22/2025
### A cleanup of the CCM Computing Majors Survey results file with Pandas

### Step 1 - Installing and importing the Pandas library

In [ ]:
!pip install pandas

In [ ]:
import pandas as pd

### Step 2 - Importing the survey results .csv file into a dataframe to work with

In [ ]:
df = pd.read_csv('Majors Survey Results - Fall 2024.csv')

### Step 3 - Exploring the dataset with various Pandas functions

In [ ]:
df.describe

In [ ]:
df.shape
#Rows, Columns

In [ ]:
df.head()

In [ ]:
df.info()

### Step 4 - Display Data Prior to Cleaning

In [ ]:
df

### Step 5 - Renaming all the columns by number to make the cleaning process easier

In [ ]:
df.columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9', 'col10', 'col11', 'col12', 'col13', 'col14', 'col15', 'col16', 'col17', 'col18', 'col19', 'col20','col21', 'col22', 'col23', 'col24', 'col25', 'col26', 'col27', 'col28', 'col29', 'col30','col31', 'col32', 'col33', 'col34', 'col35', 'col36', 'col37', 'col38', 'col39', 'col40', 'col41', 'col42', 'col43', 'col44', 'col45', 'col46', 'col47', 'col48', 'col49', 'col50', 'col51', 'col52', 'col53', 'col54', 'col55', 'col56', 'col57', 'col58', 'col59', 'col60','col61', 'col62', 'col63', 'col64', 'col65', 'col66', 'col67', 'col68', 'col69', 'col70','col71', 'col72', 'col73', 'col74', 'col75', 'col76', 'col77', 'col78', 'col79', 'col80','col81', 'col82', 'col83', 'col84', 'col85', 'col86', 'col87', 'col88', 'col89', 'col90']

#### Note - I used the .columns method to rename all the columns by number because I didn't want to create a dictionary that had to map a new column name to each of the 90 existing columns

### Step 6 - Dropping the columns which contain information that is unnecessary for my data questions

#### By inspecting the original .csv file, I noticed that a lot of the data would not help me answer my questions, so I decided to note these data ranges and remove them

In [ ]:
df.drop([f'col{i}' for i in range(33, 63)], axis=1, inplace=True)
df.drop([f'col{i}' for i in range(64, 85)], axis=1, inplace=True)
df.drop('col87', axis=1, inplace=True)

#### Source: I used a SparkBy tutorial to learn how to drop multiple columns of a dataset at once

#### I had originally created a for loop that generated the number of the column I wanted to drop and appended it to 'col' to create the locator. However, it wasn't working, so I prompted ChatGPT and asked for a solution that would allow it to work, and it provided me with the integrated iterator and f string solution

#### Source Link: https://sparkbyexamples.com/pandas/pandas-drop-multiple-columns-from-dataframe

### Step 7 - Renaming the remaining columns with descriptive names

In [ ]:
df.columns = ['timestamp', 'course', 'hear_website', 'hear_social', 'hear_community', 'hear_family', 'hear_student', 'hear_alumni', 'hear_teacher', 'hear_counselor', 'hear_app', 'hear_employer', 'hear_billboard', 'hear_tv', 'hear_radio', 'hear_other', 'impact_affordability', 'impact_location', 'impact_programs', 'impact_online', 'impact_referral', 'impact_faculty', 'impact_reputation', 'impact_finaid', 'impact_scholarships', 'impact_size', 'impact_ecs', 'impact_acceptcred', 'impact_negative', 'impact_njstars', 'impact_transferability', 'impact_hscredit', 'major', 'choice', 'interest', 'gender', 'race', 'age']

### Step 8 - Filling in any NaNs with contexual data values

In [ ]:
df.fillna({'course': 'Course Unknown'}, inplace=True)
df.fillna({'impact_affordability': 'Not Applicable'}, inplace=True)
df.fillna({'impact_location': 'Not Applicable'}, inplace=True)
df.fillna({'impact_programs': 'Not Applicable'}, inplace=True)
df.fillna({'impact_online': 'Not Applicable'}, inplace=True)
df.fillna({'impact_referral': 'Not Applicable'}, inplace=True)
df.fillna({'impact_faculty': 'Not Applicable'}, inplace=True)
df.fillna({'impact_reputation': 'Not Applicable'}, inplace=True)
df.fillna({'impact_finaid': 'Not Applicable'}, inplace=True)
df.fillna({'impact_scholarships': 'Not Applicable'}, inplace=True)
df.fillna({'impact_size': 'Not Applicable'}, inplace=True)
df.fillna({'impact_ecs': 'Not Applicable'}, inplace=True)
df.fillna({'impact_acceptcred': 'Not Applicable'}, inplace=True)
df.fillna({'impact_negative': 'Not Applicable'}, inplace=True)
df.fillna({'impact_njstars': 'Not Applicable'}, inplace=True)
df.fillna({'impact_transferability': 'Not Applicable'}, inplace=True)
df.fillna({'impact_hscredit': 'Not Applicable'}, inplace=True)
df.fillna({'impact_hscredit': 'Not Applicable'}, inplace=True)
df.fillna({'choice': 'Non-Major'}, inplace=True)
df.fillna({'interest': 0}, inplace=True)

#### Justifications for these contexual data values
#### Courses - Adding course unknown makes it easier for me to remove these records later on
#### Impact - Not Applicable was a valid option in the survey, however it was recorded as N/A, causing the responses to appear as NaNs in the dataset
#### Choice - This was a question only applicable to students in the major, so any blank responses were from non-majors who skipped the question
#### Interest - The non-major students were asked to rank their interest on a scale of 1-5, so I used a number that was not in the range to fill in the blanks left by computing-major students

### Step 9 - Removing two records with unknown courses

In [ ]:
df.drop(df[df['course'] == 'Course Unknown'].index, inplace=True)

### Step 10 - Displaying the cleaned Dataset

In [ ]:
df

### Step 11 - Reading the cleaned dataset into a new .csv file

In [ ]:
df.to_csv('cleaned_survey.csv', index=False)